{% extends "core/base.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
<h1 class="h3 mb-3">Dónde estamos</h1>

<div class="ratio ratio-16x9 mb-3">
  <iframe
    src="https://www.google.com/maps?q=Puerta%20del%20Sol%2C%20Madrid&output=embed"
    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>

<h2 class="h6">Contacto</h2>
<p>Correo: <a href="mailto:info@asociacion.example">info@asociacion.example</a></p>
{% endblock %}
